build/

bin/

make_axisem.macros

MESHER/Makefile

MESHER/*.o

MESHER/*.mod

MESHER/xmesh

SOLVER/*.o

SOLVER/*.mod

SOLVER/axisem

SOLVER/runinfo

SOLVER/MESHES*

SOLVER/TEST*

SOLVER/UTILS/*.o

SOLVER/UTILS/*.mod

SOLVER/UTILS/xfield_transform

SOLVER/UTILS/xpost_processing

SOLVER/Makefile

SOLVER/UTILS/Makefile

MESHER/OUTPUT

SOLVER/ak135_*/

*.gcno
*.gcda
__pycache__
.idea/
MESHER/gitversion.h
Makefile
SOLVER/gitversion.h
SOLVER/inparam_hetero
./inparam_advanced
./inparam_basic

EXAMPLES/*/MESHES
EXAMPLES/*/Mesh
EXAMPLES/*/OUTPUT*
EXAMPLES/*/Diags
EXAMPLES/*/Data*
EXAMPLES/*/Info
EXAMPLES/*/external_model.bm
EXAMPLES/*/simulation.info
EXAMPLES/*/timestamp*.txt
EXAMPLES/*/mesh_params.h

